:root {
  --purple100: #dbd1fc;
  --purple500: #7551dc;
  --yellow100: #f9eee2;
  --yellow500: #ffcc6a;
  --white: #ffffff;
  --black: #121212;
<<<<<<< HEAD
  --radius-card: 0.625rem;
=======
  --gray: #9e9e9e;
>>>>>>> 6402547 (feat: implement box-2 content with Grid and Flexbox)
}
