.bento-grid {
  min-height: 100%;
  min-width: 100%;
  padding: 1rem;
  display: grid;
  gap: 1rem;
  box-sizing: border-box;
  grid-template-rows: repeat(8, auto);
  grid-template-areas:
    "box-1"
    "box-2"
    "box-3"
    "box-4"
    "box-5"
    "box-6"
    "box-7"
    "box-8";
}

@media screen and (min-width: 768px) {
  .bento-grid {
    grid-template-columns: repeat(2, 20rem);
    grid-template-rows: repeat(6, auto);
    justify-content: center;
    grid-template-areas:
      "box-1 box-1"
      "box-2 box-3"
      "box-4 box-4"
      "box-5 box-5"
      "box-6 box-6"
      "box-7 box-8";
  }
}

@media screen and (min-width: 1024px) {
  .bento-grid {
    grid-template-columns: repeat(4, minmax(auto, 16rem));
    grid-template-rows: repeat(3, auto);
    align-content: center;
    justify-content: center;
    grid-template-areas:
      "box-7 box-1 box-1 box-4"
      ".    box-2  box-3 box-4"
      "box-8 box-6 box-5 box-5";
  }
}
