.bento-grid {
  min-height: 100%;
  padding: 1rem;
  display: grid;
  gap: 1rem;
  box-sizing: border-box;
  grid-template-rows: 18.125rem 10rem 13.5rem 29rem 23rem 13.5rem 15rem 22rem;
  grid-template-areas:
    "box-1"
    "box-2"
    "box-3"
    "box-4"
    "box-5"
    "box-6"
    "box-7"
    "box-8";
}

@media screen and (min-width: 768px) {
  .bento-grid {
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-template-rows: 20rem 15.5rem 31rem 15.125rem 8rem 22rem;
    grid-template-areas:
      "box-1 box-1"
      "box-2 box-3"
      "box-4 box-4"
      "box-5 box-5"
      "box-6 box-6"
      "box-7 box-8";
  }
}

@media screen and (min-width: 1024px) {
  .bento-grid {
    grid-template-columns: repeat(4, minmax(auto, 16rem));
    grid-template-rows: 20rem 15.5rem 15.5rem;
    align-content: center;
    justify-content: center;
    grid-template-areas:
      "box-7 box-1 box-1 box-4"
      ".    box-2  box-3 box-4"
      "box-8 box-6 box-5 box-5";
  }
}
