.grid-container {
  min-height: 100vh;
  padding: 1rem;
  display: grid;
  gap: 1rem;
  box-sizing: border-box;
  grid-template-areas:
    "box-1"
    "box-2"
    "box-3"
    "box-4"
    "box-5"
    "box-6"
    "box-7"
    "box-8";
}

@media screen and (min-width: 1024px) {
  .grid-container {
    grid-template-columns: 256px 272px 272px 256px;
    grid-template-rows: 324px 247px 246px;
    align-content: center;
    justify-content: center;
    grid-template-areas:
      "box-7 box-1 box-1 box-4"
      ".    box-2  box-3 box-4"
      "box-8 box-6 box-5 box-5";
  }
}
