.avatars {
  display: flex;
  flex-direction: row;
  width: max-content;
}

.avatar_item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 66.58px;
  width: 66.58px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: -10px;
}

.avatar_item:nth-child(even) {
  background: var(--yellow300);
}

.avatar_item:nth-child(odd) {
  background: var(--purple100);
}
