.box-2 {
  background-color: var(--white);
  grid-area: box-2;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: hidden;
}

.box2__title {
  margin: 0;
  font-size: 1.625rem;
  font-weight: 500;
  letter-spacing: -0.06em;
  line-height: 0.9;
}

@media screen and (min-width: 768px) {
  .box-2 {
    padding: 1.5rem;
    gap: 3rem;
  }

  .box2__title {
    width: 13rem;
    font-size: 1.75rem;
  }
}

@media screen and (min-width: 1024px) {
  .box-2 {
    gap: 1.25rem;
  }

  .box2__title {
    font-size: 2rem;
    letter-spacing: -0.06em;
    line-height: 0.8em;
  }
}
