.box-1 {
  background-color: var(--purple500);
  grid-area: box-1;
  width: 100%;
  height: 100%;
  display: flex;
  box-sizing: border-box;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 32px;
}

.box1__title {
  text-align: center;
  margin: 0;
  color: var(--white);
  font-size: 46px;
  font-weight: 500;
  line-height: 93.5%;
  letter-spacing: -3px;
}

.box1__image {
  margin-top: 24px;
  margin-bottom: 8px;
}

.accent {
  color: var(--yellow500);
}

.highlight {
  font-style: italic;
}

.box1__description {
  margin: 0;
  font-size: 18px;
  line-height: 111%;
  letter-spacing: 0px;
  color: var(--white);
}

@media screen and (min-width: 768px) {
  .box-1 {
    padding: 32px;
  }

  .box1__title {
    font-size: 54px;
  }
}

@media screen and (min-width: 1024px) {
  .box-1 {
    font-weight: 500;
  }
}
