.box-2 {
  background-color: var(--white);
  box-sizing: border-box;
  border-radius: 10px;
  grid-area: box-2;
  height: 100%;
  padding: 1rem;
  display: grid;
  gap: 1rem;
}

.box2__profile-container {
  display: flex;
  gap: 10px;
  width: 100%;
}

.box2__profile-card {
  box-sizing: border-box;
  gap: 0.5rem;
  box-shadow: -9.78px 11.74px 24.45px 0px rgba(0, 0, 0, 0.1);
  background-color: var(--white);
  padding: 0.75rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  width: 100%;
  height: 4rem;
}

.box2__logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--yellow500);
  width: 3rem;
  height: 3rem;
  border-radius: 50px;
}

.box2__details {
  display: flex;
  flex-direction: column;
}

.box2__username {
  margin: 0;
  font-weight: 500;
  letter-spacing: -1px;
}

.box2__followers {
  margin: 0;
  color: var(--gray);
  font-size: 0.75rem;
  white-space: nowrap;
}

.box2__heading {
  margin: 0;
  font-size: 26px;
  font-weight: 500;
  letter-spacing: -2px;
  line-height: 24px;
}

@media screen and (min-width: 768px) {
  .box-2 {
    padding: 1.5rem;
  }

  .box2__heading {
    width: 13rem;
    font-size: 28px;
    letter-spacing: -3px;
    line-height: 26px;
  }
}

@media screen and (min-width: 1024px) {
  .box2__heading {
    font-size: 32px;
  }
}
