.box-6 {
  background-color: var(--white);
  grid-area: box-6;
  padding: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.box6__title {
  margin: 0;
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: 400;
}

.box6__highlight {
  display: block;
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: -0.04em;
  line-height: 0.9;
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .box6__highlight {
    font-size: 3.5rem;
    line-height: 0.8;
  }
}

@media screen and (min-width: 1024px) {
  .box-6 {
    flex-direction: column;
  }

  .box6__highlight {
    font-size: 4rem;
    letter-spacing: -0.03em;
    line-height: 0.9;
  }
}
