.box-2 {
  background-color: var(--white);
  box-sizing: border-box;
  border-radius: 0.625rem;
  grid-area: box-2;
  padding: 1rem;
  display: grid;
  gap: 1rem;
}

.box2__profile-container {
  display: flex;
  gap: 0.625rem;
}

.box2__profile-card {
  box-sizing: border-box;
  gap: 0.5rem;
  box-shadow: -0.625rem 0.75rem 1.5rem 0rem rgba(0, 0, 0, 0.1);
  background-color: var(--white);
  padding: 0.75rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  height: 4rem;
}

.box2__logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--yellow500);
  width: 3rem;
  height: 3rem;
  border-radius: 50px;
}

.box2__details {
  display: flex;
  flex-direction: column;
}

.box2__username {
  margin: 0;
  font-weight: 500;
  letter-spacing: -0.01em;
}

.box2__followers {
  margin: 0;
  color: var(--gray);
  font-size: 0.75rem;
  white-space: nowrap;
}

.box2__heading {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: -0.05em;
  line-height: 1em;
}

@media screen and (min-width: 768px) {
  .box-2 {
    padding: 1.5rem;
  }

  .box2__heading {
    width: 13rem;
    font-size: 1.75rem;
    letter-spacing: -0.1em;
  }
}

@media screen and (min-width: 1024px) {
  .box2__heading {
    font-size: 2rem;
  }
}
