.box-5 {
  background-color: var(--purple500);
  grid-area: box-5;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.box5__content {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 2.5rem;
}

.box5__content--back-image {
  position: absolute;
  margin-right: 32px;
}

.box5__content--front-image {
  position: relative;
  margin-top: 132px;
  margin-left: 46px;
  filter: drop-shadow(-9.78px 11.74px 24.45px rgba(98, 26, 123, 0.05));
}

.box5__title {
  margin: 0;
  color: var(--white);
  font-size: 2rem;
  text-align: center;
  font-weight: 500;
  letter-spacing: -0.06em;
  line-height: 1em;
}

@media screen and (min-width: 768px) {
  .box-5 {
    flex-direction: row;
    gap: 2.5rem;
  }

  .box5__content {
    margin-bottom: 0;
    margin-left: 57px;
  }

  .box5__title {
    font-size: 2.25rem;
    text-align: start;
    line-height: 0.9em;
  }
}

@media screen and (min-width: 1024px) {
  .box-5 {
    justify-content: space-between;
  }

  .box5__title {
    font-size: 2.5rem;
    letter-spacing: -0.02em;
    line-height: 1em;
  }

  .box5__content {
    margin: 0;
  }

  .box5__content--front-image {
    filter: none;
  }
}
