.box-2 {
  background-color: var(--white);
  box-sizing: border-box;
  border-radius: var(--radius-card);
  grid-area: box-2;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: hidden;
}

.box2__profiles {
  display: flex;
  gap: 0.625rem;
}

.box2__profile-card {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 1.5rem 0.75rem 0.75rem;
  background-color: var(--white);
  border-radius: 2rem;
  box-shadow: -0.5rem 0.5rem 0.75rem rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  justify-content: center;
  height: 4rem;
}

.box2__logo {
  width: 2.625rem;
  height: 2.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--yellow500);
  border-radius: 50%;
}

.box2__logo img {
  width: 1.625rem;
  height: 1.625rem;
}

.box2__details {
  display: flex;
  flex-direction: column;
}

.box2__username {
  margin: 0;
  font-weight: 500;
  letter-spacing: -0.01em;
}

.box2__followers {
  margin: 0;
  color: var(--gray);
  font-size: 0.75rem;
  white-space: nowrap;
  letter-spacing: -0.0036em;
}

.box2__heading {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: -0.05em;
  line-height: 0.9;
}

@media screen and (min-width: 768px) {
  .box-2 {
    padding: 1.5rem;
    gap: 3rem;
  }

  .box2__heading {
    width: 13rem;
    font-size: 1.75rem;
  }
}

@media screen and (min-width: 1024px) {
  .box-2 {
    gap: 1.25rem;
  }

  .box2__heading {
    font-size: 2rem;
    letter-spacing: -0.06em;
    line-height: 0.8em;
  }
}
